// New code
@use 'variables' as var;
@use 'mixins' as mix;

body {
  font-family: var.$font-family;
  background-color: var.$light-color;
  color: var.$dark-color;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 120px);
  padding: 2rem;
}

a {
  color: var.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}